/**
 * Font-weight
 */
$fw-light: 100;
$fw-regular: 300;
$fw-regular-bold: 300;
$fw-semibold: 600;
$fw-bold: 700;

/**
 * Font Mixins
 */
@mixin f-headline-h1 {
  font-weight: $fw-semibold;
  line-height: 1.2;
  text-transform: uppercase;

  @include breakpoint(xs-sm) {
    font-size: pxToRem(32px);
  }
  @include breakpoint(md) {
    font-size: pxToRem(48px);
  }
  @include breakpoint(lg) {
    font-size: pxToRem(64px);
  }
}

@mixin f-headline-h2 {
  font-weight: $fw-light;
  line-height: 1.2;

  @include breakpoint(xs-sm) {
    font-size: pxToRem(30px);
  }
  @include breakpoint(md) {
    font-size: pxToRem(32px);
  }
  @include breakpoint(lg) {
    font-size: pxToRem(40px);
  }
}

@mixin f-headline-h3 {
  font-weight: $fw-semibold;
  line-height: 1.2;

  @include breakpoint(xs-sm) {
    font-size: pxToRem(32px);
    line-height: pxToRem(48px);
  }
  @include breakpoint(md) {
    font-size: pxToRem(32px);
    line-height: pxToRem(48px);
  }
  @include breakpoint(lg) {
    font-size: pxToRem(32px);
    line-height: pxToRem(48px);
  }
}

@mixin f-hero {
  font-weight: $fw-semibold;
  line-height: 1.2;
  text-transform: uppercase;

  @include breakpoint(xs-sm) {
    font-size: pxToRem(32px);
  }
  @include breakpoint(md) {
    font-size: pxToRem(48px);
  }
  @include breakpoint(lg) {
    font-size: pxToRem(80px);
  }
}

@mixin f-subtitle-1 {
  font-weight: $fw-light;
  line-height: 1.2;
  text-transform: uppercase;

  @include breakpoint(xs-sm) {
    font-size: pxToRem(24px);
  }
  @include breakpoint(md) {
    font-size: pxToRem(32px);
  }
  @include breakpoint(lg) {
    font-size: pxToRem(40px);
  }
}

@mixin f-copy {
  font-weight: $fw-regular;
  line-height: 1.5;

  @include breakpoint(xs-sm) {
    font-size: pxToRem(16px);
  }
  @include breakpoint(md-xl) {
    font-size: pxToRem(18px);
  }
}

@mixin f-blockquote {
  font-weight: $fw-regular;
  line-height: 1.4;

  @include breakpoint(sm-md) {
    font-size: pxToRem(16px);
  }
  @include breakpoint(lg) {
    font-size: pxToRem(16px);
  }
}

@mixin f-caption {
  font-weight: $fw-regular;

  @include breakpoint(sm-md) {
    font-size: pxToRem(12px);
    line-height: pxToRem(18px);
  }
  @include breakpoint(lg) {
    font-size: pxToRem(14px);
    line-height: pxToRem(22px);
  }
}

@mixin f-footer-1 {
  font-weight: $fw-semibold;
  font-size: pxToRem(16px);
  line-height: 1.2;
  color: $c-white;
}

@mixin f-footer-2 {
  font-weight: $fw-regular-bold;
  font-size: pxToRem(16px);
  line-height: 1.2;
  color: $c-gray;
}

@mixin f-btn {
  font-weight: $fw-regular;
  line-height: 1.1;

  @include breakpoint(xs-sm) {
    font-size: pxToRem(14px);
  }
  @include breakpoint(md) {
    font-size: pxToRem(18px);
  }
  @include breakpoint(lg) {
    font-size: pxToRem(28px);
  }
}
