html,
body {
  background: rgb(29, 29, 29);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  @include container;
  z-index: 1;
  position: relative;
  display: block;
  margin: 0 auto;
  background: $c-black;
  overflow: hidden;
}

.page-wrapper {
  background: $c-black;
  border-bottom-left-radius: pxToRem(24px);
  border-bottom-right-radius: pxToRem(24px);
  overflow: hidden;
}

a {
  text-decoration: none;
}

.btn {
  display: block;
  box-sizing: border-box;
  border-radius: 100vmax;
  transition: all $d-anim;
  font-weight: $fw-bold;

  @include breakpoint(xs-sm) {
    padding: pxToRem(8px) pxToRem(16px);
    font-size: pxToRem(13px);
    line-height: pxToRem(22px);
  }
  @include breakpoint(md) {
    padding: pxToRem(8px) pxToRem(16px);
    font-size: pxToRem(14px);
    line-height: pxToRem(24px);
  }
  @include breakpoint(lg) {
    padding: pxToRem(8px) pxToRem(16px);
    font-size: pxToRem(15px);
    line-height: pxToRem(26px);
  }
}

.btn--primary {
  background-color: $c-white;
  border: 1px solid $c-white;
  color: $c-black;

  &:hover {
    @include blur-background;
    color: $c-white;
  }
}

.btn--secondary {
  @include blur-background;
  color: $c-white;

  &:hover {
    background-color: $c-white;
    color: $c-black;
  }
}

.link {
  @include f-body-2;
  color: $c-white;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.link--with-chevron {
  &::after {
    content: ">";
    margin-left: pxToRem(6px);
  }
}

.text-module {
  margin-top: pxToRem(80px);
  background-color: $c-black;
  color: $c-white;

  @include breakpoint(md) {
    width: column(10, 12);
  }
  @include breakpoint(lg) {
    width: column(8, 12);
  }

  h1 {
    @include f-headline-h1;
  }

  h2 {
    @include f-headline-h2;
  }

  h3 {
    @include f-headline-h3;
  }

  h4 {
    @include f-headline-h4;
  }

  h5 {
    @include f-headline-h5;
  }

  h6 {
    @include f-headline-h6;
  }

  a {
    color: $c-white;
  }

  p,
  ol,
  ul {
    @include f-body-1;
    @include breakpoint(sm-md) {
      margin-block: pxToRem(24px);
    }
    @include breakpoint(lg) {
      margin-block: pxToRem(28px);
    }
  }
}
