html,
body {
  background: $c-lightgray;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  @include container;
  z-index: 1;
  position: relative;
  display: block;
  margin: 0 auto;
  background: $c-black;
  overflow: hidden;
}

.page-wrapper {
  background: $c-black;
  border-bottom-left-radius: pxToRem(24px);
  border-bottom-right-radius: pxToRem(24px);
  transition: transform $d-anim ease-in-out;
  overflow: hidden;

  &.shrink {
    opacity: 0.8;
    transform: translate3d(0px, 0vh, 0px) scale(0.96);
    transform-origin: center calc(100% - 500px);
  }
}

a {
  text-decoration: none;
}

.btn {
  @include f-btn;
  display: block;
  box-sizing: border-box;
  border-radius: 100vmax;
  transition: all $d-anim;

  @include breakpoint(xs-sm) {
    padding: pxToRem(8px) pxToRem(16px);
  }
  @include breakpoint(md) {
    padding: pxToRem(8px) pxToRem(16px);
  }
  @include breakpoint(lg) {
    padding: pxToRem(8px) pxToRem(16px);
  }
}

.btn--primary {
  background-color: transparent;
  border: 1px solid $c-white;
  color: $c-white;

  &:hover {
    @include blur-background;
    color: $c-white;
  }
}

.btn--secondary {
  @include blur-background;
  color: $c-white;

  &:hover {
    background-color: $c-white;
    color: $c-black;
  }
}

.link {
  @include f-copy;
  color: $c-white;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.link--with-chevron {
  &::after {
    content: ">";
    margin-left: pxToRem(6px);
  }
}

.text-module {
  margin-bottom: pxToRem(80px);
  background-color: $c-black;
  color: $c-white;
}

.text-module__head {
  display: grid;
  margin-top: pxToRem(60px);

  @include breakpoint(md) {
    grid-template-row: 1fr;
  }
  @include breakpoint(lg) {
    grid-template-columns: 9fr 3fr;
  }
}

.text-module__headline {
  @include f-subtitle-1;
  margin: 0;

  p {
    @include f-btn;
    margin-top: pxToRem(40px);
    margin-bottom: 0;
    text-align: right;
  }
}

.text-module__cta {
  height: fit-content;
  width: fit-content;

  @include breakpoint(sm-md) {
    margin-top: pxToRem(40px);
  }

  @include breakpoint(lg) {
    justify-self: end;
  }

  img {
    max-width: pxToRem(180px);
  }
}

.text-module__head--with-tab {
  @include breakpoint(sm-md) {
    display: flex;
    flex-direction: column-reverse;
  }

  &.text-module__head--volunteer {
    @include breakpoint(lg) {
      margin-bottom: pxToRem(-60px);
    }
  }
}

.text-module__tabs {
  @include f-btn-bold;
  list-style: none;

  @include breakpoint(sm-md) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    padding: 0;
  }

  @include breakpoint(lg) {
    margin: 0;
  }

  .text-module__tab-link {
    border-bottom: 2px solid transparent;
    padding-bottom: pxToRem(4px);
    color: $c-white;

    &:hover {
      border-bottom: 2px solid $c-white;
    }
  }

  .text-module__tab {
    margin-bottom: pxToRem(18px);
    text-align: right;

    &.is-active {
      .text-module__tab-link {
        border-bottom: 2px solid $c-white;
      }
    }
  }
}

.text-module__content {
  background-color: $c-black;
  color: $c-white;

  @include breakpoint(xs-sm) {
    margin-top: pxToRem(40px);
  }
  @include breakpoint(md) {
    margin-top: pxToRem(40px);
  }
  @include breakpoint(lg) {
    margin-top: pxToRem(60px);
    width: column(8, 10);
  }

  h2 {
    @include f-headline-h2;
    margin-top: pxToRem(40px);
  }

  h3 {
    @include f-headline-h3;
    margin-top: pxToRem(40px);
    margin-bottom: pxToRem(20px);
  } 

  a {
    color: $c-white;
    font-weight: $fw-regular-bold;
    text-decoration: underline;

    &:hover {
        text-decoration: none;
    }
  }

  p,
  ol,
  ul {
    @include f-copy;
    margin-block: pxToRem(40px);
  }

  img {
    margin-block: pxToRem(40px);
    height: auto;
    max-width: 100%;
  }

  h3 + ol,
  h3 + ul,
  h3 + img,
  h3 + p {
    margin-top: 20px;
  }
}
