$break-start: 0;
$break-mobile: 576px;
$break-tablet: 768px;
$break-desktop: 1024px;
$break-desktop-lg: 1228px;

/**
 *  Breakpoints for exclusive media queries
 *  @params $media: xs-sm | md | lg | xl | xs-md | md-xl
 */
@mixin breakpoint($media) {
  @if $media == xs-sm {
    @media only screen and (width < $break-tablet) {
      @content;
    }
  } @else if $media == md {
    @media only screen and ($break-tablet <= width < $break-desktop) {
      @content;
    }
  } @else if $media == lg {
    @media print, screen and ($break-desktop < width) {
      @content;
    }
  } @else if $media == sm-md {
    @media only screen and (width < $break-desktop) {
      @content;
    }
  } @else if $media == md-xl {
    @media print, screen and ($break-tablet <= width) {
      @content;
    }
  }
}

@function pxToRem($px: 12px, $base: 16px) {
  @return calc($px / $base * 1rem);
}

@function column($col, $base) {
  $value: (100% / $base * $col);
  @return $value;
}

.no-transition * {
  transition: none !important;
}

@mixin scrollbar($margin: 0) {
  scrollbar-width: thin;
  scrollbar-color: var(--color-thumb-bg) var(--color-scrollbar-bg);

  &::-webkit-scrollbar {
    width: pxToRem(12px);
  }

  &::-webkit-scrollbar-thumb {
    border-radius: pxToRem(6px);
    background-color: var(--color-scrollbar-bg);
    border: 1px solid var(--color-thumb-bg);
  }

  &::-webkit-scrollbar-track {
    background: var(--color-thumb-bg);
  }

  &::-webkit-scrollbar-track-piece:start {
    margin-top: $margin;
  }

  &::-webkit-scrollbar-track-piece:end {
    margin-bottom: $margin;
  }
}

@mixin container {
  margin-inline: auto;
  max-width: pxToRem($break-desktop-lg);

  @include breakpoint(xs-sm) {
    padding-inline: pxToRem(24px);
  }

  @include breakpoint(md) {
    padding-inline: column(1, 12);
  }

  @include breakpoint(lg) {
    padding-inline: column(1, 12);
  }
}

@mixin blur-background {
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(6px);
  box-shadow: 0 0 pxToRem(12px) 0 rgba(0, 0, 0, 0.2);
}

@mixin rounded-border {
  border-radius: 100vmax;
}
