---
import ArticleLayout from "../../../layouts/ArticleLayout.astro";
import * as tickets from "../../../content/en/tickets.md";
import { getLangFromUrl, useTranslations } from "../../../i18n/utils";

const Content = tickets.Content;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<ArticleLayout title={tickets.frontmatter.headline} article={tickets}>
	<div class="text-module__content">
		<Content />
	</div>
</ArticleLayout>
