---
import ArticleLayout from "../../../layouts/ArticleLayout.astro";
import * as joinUs from "../../../content/en/tickets.md";
import { getLangFromUrl, useTranslations } from "../../../i18n/utils";

const Content = joinUs.Content;

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<ArticleLayout title={joinUs.frontmatter.headline} article={joinUs}>
	<div class="text-module__content">
		<Content />
	</div>
</ArticleLayout>

<style lang="scss">
	body {
		font-family: "Roboto", sans-serif;
	}
</style>