---
import ArticleLayout from "../../layouts/ArticleLayout.astro";
import * as imprint from "../../content/cn/imprint.md";

const Content = imprint.Content;
---

<ArticleLayout title={imprint.frontmatter.headline} article={imprint}>
	<div class="text-module__head">
		<h2 class="text-module__headline">
			{imprint.frontmatter.headline2}
		</h2>
	</div>
	<div class="text-module__content">
		<Content />
	</div>
</ArticleLayout>


<style lang="scss">
	body {
		font-family: 'Noto Sans SC', sans-serif;
	}
</style>
