---
import Layout from "../../layouts/Layout.astro";
import Nav from "../../components/Nav.astro";
import MetaFooter from "../../components/MetaFooter.astro";
import Hero from "../../components/Hero.astro";
import Footer from "../../components/Footer.astro";
import LanguagePicker from "../../components/LanguagePicker.astro";
---
<Layout title="CMFK">
	<Nav />
	<div class="page-wrapper">
		<LanguagePicker />
		<Hero />
		<Footer />
	</div>
	<MetaFooter />
</Layout>

<style lang="scss">
	@import "@fontsource/noto-sans-sc/500.css";
	@import "@fontsource/noto-sans-sc/600.css";
	@import "@fontsource/noto-sans-sc/700.css";

	// body {
	// 	font-family: 'Noto Sans SC', sans-serif;
	// }
</style>
