---
import Layout from "../../layouts/Layout.astro";
import Nav from "../../components/Nav.astro";
import MetaFooter from "../../components/MetaFooter.astro";
import Hero from "../../components/Hero.astro";
import Footer from "../../components/Footer.astro";
import LanguagePicker from "../../components/LanguagePicker.astro";
---
<Layout title="德国汉堡华语电影节">
	<Nav />
	<div class="page-wrapper">
		<LanguagePicker />
		<Hero />
		<Footer />
	</div>
	<MetaFooter />
</Layout>

<style lang="scss">
	body {
		font-family: 'Noto Sans SC', sans-serif;
	}
</style>
