<section class="section section--welcome" id="about">
	<h1 class="headline--h1">Über uns</h1>
	<div class="section__intro">
		<p class="copy--large">
			
		</p>
	</div>
</section>

<style lang="scss">
	.section--welcome {
		display: grid;
		grid-template-columns: 1fr;
		place-items: start;

		@media (min-width: $tablet-min) {
			grid-template-columns: 1fr 3fr;
			place-items: center;
		}
	}

	.section__intro {
		margin-top: 24px;

		@media (min-width: $tablet-min) {
			padding-left: 48px;
			border-left: 1px solid grey;
		}

		@media (min-width: $desktop-min) {
			font-size: 20px;
		}
	}

	.copy--large {
		margin: 12px 0;
	}

	.section__btn-wrapper {
		padding: 36px 0 24px;
	}

	.section__btn {
		display: block;
		text-align: center;

		@media (min-width: $tablet-min) {
			display: inline-block;
		}
	}
</style>
