---
import LanguagePicker from '../components/LanguagePicker.astro';
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<header class="header">
    <a href={`/${lang}/home/`} class="header__home" title={t('nav.home')}>
        {t('nav.home')}
      </a>
    <nav class="header__nav">
        <ul class="header__nav-list">
            <li class="header__nav-item">
                Nav 1
            </li>
            <li class="header__nav-item">
                Nav 2
            </li>
            <li class="header__nav-item">
                Nav 3
            </li>
        </ul>
    </nav>
    <div class="header__cta">
        Call for Film
    </div>
    <div class="header__language-switch">
        <LanguagePicker>
    </div>
</header>

<style lang="scss">
	.header {
        display: grid;
        grid-template-columns: 2fr 6fr 2fr 2fr;
        grid-column-gap: 24px;
        place-items: center;
        color: white;
        background-color: black;
        padding: 12px 36px;
    }

    .header__nav-list {
        list-style: none;
        display: flex;
    }
</style>