---
import { languages } from "../i18n/ui";

const itemClass = function (path: string) {
	const pathname = new URL(Astro.request.url).pathname;

	return pathname.startsWith(path)
		? "language-picker__item is-active"
		: "language-picker__item";
};

const newPath = function(lang: string) {
	const pathname = new URL(Astro.request.url).pathname;

	const segments = pathname.split('/');
	segments[1] = lang;
	return segments.join('/');
}
---

<div class="language-picker">
	<div class="language-picker__wrapper">
		<ul class="language-picker__list">
			{
				Object.entries(languages).map(([lang, label]) => (
					<li class={itemClass(`/${lang}/`)}>
						<a class="language-picker__link" href={`${newPath(lang)}`}>
							{label}
						</a>
					</li>
				))
			}
		</ul>
	</div>
</div>

<style lang="scss">
	@import "../styles/variables.scss";
	@import "../styles/fonts.scss";
	@import "../styles/utils.scss";

	.language-picker {
		@include container;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 100;
	}

	.language-picker__wrapper {
		display: inline-block;
		float: right;
		margin-block: pxToRem(24px);
	}

	.language-picker__list {
		display: flex;
		overflow: hidden;
		list-style: none;
		margin: 0;
		padding: 0;
		pointer-events: auto;
		// border: 1px solid $c-white;
		box-sizing: border-box;
	}

	.language-picker__item {
		// @include blur-background;
		margin: pxToRem(4px);

		&.is-active {
			// background-color: $c-white;
			border-bottom: 1px solid $c-white;
		}
	}

	.language-picker__link {
		@include f-btn;
		color: $c-white;

		.is-active & {
			// color: $c-black;
			font-weight: $fw-semibold;
		}
	}
</style>
