---
import { languages } from "../i18n/ui";

const itemClass = function (path: string) {
	const pathname = new URL(Astro.request.url).pathname;

	return pathname.startsWith(path)
		? "language-picker__item is-active"
		: "language-picker__item";
};
---

<div class="language-picker">
	<div class="language-picker__wrapper">
		<ul class="language-picker__list">
			{
				Object.entries(languages).map(([lang, label]) => (
					<li class={itemClass(`/${lang}/`)}>
						<a class="language-picker__link" href={`/${lang}/`}>
							{label}
						</a>
					</li>
				))
			}
		</ul>
	</div>
</div>

<style lang="scss">
	@import "../styles/variables.scss";
	@import "../styles/fonts.scss";
	@import "../styles/utils.scss";

	.language-picker {
		@include container;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 100;
	}

	.language-picker__wrapper {
		display: inline-block;
		float: right;
		margin-block: pxToRem(24px);
	}

	.language-picker__list {
		@include rounded-border;
		display: flex;
		overflow: hidden;
		list-style: none;
		margin: 0;
		padding: 0;
		pointer-events: auto;
		border: 1px solid $c-white;
		box-sizing: border-box;
		transition: border-color $d-anim;
	}

	.language-picker__item {
		@include blur-background;
		padding: pxToRem(4px) pxToRem(8px);

		&.is-active {
			background-color: $c-white;
		}
	}

	.language-picker__link {
		@include f-btn;
		color: $c-white;

		.is-active & {
			color: $c-black;
		}
	}
</style>
