---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="meta-footer">
	<div class="meta-footer__item">
		<div>2023 @ cino knio</div>
		<!-- <div>Designe by Di He | Dev by <a class="link" href="https://fanxu.de/" target="_blank">Fan Xu</a></div> -->
	</div>
	<div class="meta-footer__item">
		<a href={`/${lang}/imprint/`} class="nav__link" title={t("nav.imprint")}>
			{t("nav.imprint")}
		</a>
	</div>
	<div class="meta-footer__item">
		<a
			href={`/${lang}/data-privacy/`}
			class="nav__link"
			title={t("nav.dataPrivacy")}
		>
			{t("nav.dataPrivacy")}
		</a>
	</div>
	<ul class="meta-footer__social-list">
		<li class="meta-footer__social-item">
			<a href="https://www.instagram.com/riparian.showcase/" target="_blank">
				<i class="bi bi-instagram" aria-hidden="true"></i>
			</a>
		</li>
		<li class="meta-footer__social-item">
			<a href="#">
				<i class="bi bi-wechat" aria-hidden="true"></i>
			</a>
		</li>
		<li class="meta-footer__social-item">
			<a href="#">
				<i class="bi bi-telegram" aria-hidden="true"></i>
			</a>
		</li>
	</ul>
</div>

<style lang="scss">
	@import "../styles/variables.scss";
	@import "../styles/fonts.scss";
	@import "../styles/utils.scss";

	.meta-footer {
		@include f-footer-1;
		box-sizing: border-box;
		padding: pxToRem(12px) pxToRem(24px);
		width: 100%;
		color: $c-white;
		background: $c-lightgray;

		@include breakpoint(xs-sm) {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			justify-content: center; 
			align-items: center;
			margin-top: pxToRem(12px);
			margin-bottom: pxToRem(80px);
		}

		@include breakpoint(md-xl) {
			display: flex;
			justify-content: space-between;
			align-items: end;
			margin-top: pxToRem(28px);
		}

		a {
			color: $c-white;
		}
	}

	.meta-footer__item {
		@include breakpoint(xs-sm) {
			text-align: center;
		}

		a:hover {
			text-decoration: underline;
		}
	}

	.meta-footer__social-list {
		list-style: none;
		display: flex;
		margin: 0;

		@include breakpoint(xs-sm) {
			grid-column: 1 / 4;
			justify-content: center;
			margin: pxToRem(20px);
			padding: 0;
		}
	}

	.meta-footer__social-item {
		margin-left: pxToRem(12px);

		&:first-child {
			margin-left: 0;
		}

	}

	.bi {
		font-size: 22px;
	}
</style>
